/* TITLE */
h1 {
    font-size: 40px;
    color: var(--primary-color);
    margin-bottom: 20px;
}

/* CONTAINER */
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* SEARCH INPUT */
.search-bar {
    width: 40%;
    height: 40px;
    padding: 8px 12px;
    text-align: center;
    border-radius: 20px;
    border: 2px solid var(--primary-color);
    margin-bottom: 20px;
    font-size: 16px;
    background-color: #272727;
    color: var(--text-color);
    transition: all 300ms ease-in-out;
}

.search-bar:focus {
    outline: none;
    border-color: var(--secondary-color); 
    background-color: #272727; 
    box-shadow: 0 0 12px var(--secondary-color);
}

.search-bar:hover {
    border-color: var(--secondary-color);
    box-shadow: 0 0 8px var(--secondary-color); 
}

/* SEARCH BUTTON */
.search-btn,
.more-btn {
    padding: 10px 20px;
    border-radius: 25px;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-weight: bold;
    font-size: 18px;
    border: none;
    margin-bottom: 10px;
    transition: background-color 300ms ease-in-out, transform 200ms ease-in-out;
    cursor: pointer;
}

.search-btn:hover,
.more-btn:hover {
    background-color: var(--secondary-color);
}

.search-btn:active,
.more-btn:active {
    background-color: var(--third-color);
}